{
    "prefix": "O prefixo do seu bot",
    "token": "O token dele na discord developers",
    "httpPassword": "a senha que será usada no servidor HTTP do express",
    "devID": "O seu ID para ter acesso aos comandos de desenvolvedor!",
    "entryConfig": {
        "selfmute": false,
        "selfdeaf": false
    }
}